
.header {
  background: var(--header-bg-color);
  display: flex;
  padding-right : 15px;
  align-items: center;
  border-radius: 5px;
}

.profil-left {
    display:flex;
    align-items:center;
    justify-content:space-between;
    display : flex;
    flex-wrap: wrap;
    width: 100%;
}

.profil-title {
  color: #4c4c59;
  margin: 0 25px ;
}

.user__avatar {
  border-radius: 5%;
  width: 100px;
  height : 100%;
  filter: grayscale(80%);
  box-shadow:  
    6px 6px 12px rgba(51, 51, 51, 0.451),
   -4px -2px 12px rgba(51, 51, 51, 0.451);
  margin-bottom: 5px;
  margin: 8px;
}


.user-infos {
  text-align: left;
  padding: var(--spacing-3) 0 var(--spacing-1) 0;
  margin: 0 25px ;
}

/* petit ecran*/
@media screen and (max-width:768px) {
  .user-infos {
    padding: var(--spacing-1) 0 var(--spacing-1) 0;
    margin: 0 0 0 15px ;
  }
  .profil-title {
    margin: 0 0 0 15px ;
  }
}

.user-info {
  display: flex;
  margin-bottom: var(--spacing-1);
}
.user-info svg {
  color: var(--icon-color);
  margin-right: 1rem;
}

.profil-detail  {
    background:var(--header-bg-color);
    position: relative;
}

.profil-detail  h3 {
    padding : 15px 25px 8px;
}

.profil-detail  p {
    padding :0 40px  8px 40px;
}

/* petit ecran*/
@media screen and (max-width:768px) {
  .profil-detail  p {
    padding :0 20px  8px 20px;
  } 
}


.profil-description:last-child {
  padding-bottom:  25px;
}


.profil-detail::before{
    position:absolute;
    content: "";
    top:-5px;
    height: 22px;
    width: 100%;
    background: #dedeb9;
    clip-path: polygon(0% 20%, 80% 10%, 60% 0%, 100% 50%, 60% 100%, 80% 90%, 0% 80%);
}
.profil-detail::after{
    position:absolute;
    content: "";
    bottom:0;
    height: 12px;
    width: 100%;
    background: #dedeb9;
    padding-top: 0px;
    clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
}

.profil-description {
    margin-top: 12px;
    text-align: justify;
    font-size: 20px;
    line-height:24px
}

/* mise en page pourn pdf  */
.cv-pdf .profil-description {
  margin-top: 12px;
  text-align: justify;
  font-size: 16px;
  line-height: 16px
}

.cv-pdf .profil-detail  h3 {
  padding : 25px 25px 12px;
  font-size: 18px;
}

.cv-pdf .profil-description:last-child {
  padding-bottom: 12px;
}

.cv-pdf .user__avatar {
  border-radius: 5%;
  width: 50px;
}

.cv-pdf .profil-detail::after{
 display: none;
}

.cv-pdf .header,
.cv-pdf .profil-detail {
  background: var(--header-pdf-bg-color);
}