@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500');

*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {

  /* colors */
  --body-bg-color: #464646;
  --header-bg-color : #c7c8c7e5;
  --skill-bg-color: linear-gradient(130deg, gray, black);
  --text-color: #37393a;
  --title-color: #403f4f;
  --period-color: #1f94c2b2;
  --dark-body-bg-color: #242424;
  --dark-sidebar-bg-color: #171717;
  --dark-text-color: #d8d8d8;
  --dark-title-color: #ffffff;
  --dark-date-color: #e6ef71;

  --skill-color : #dfdcdc;
  --experience-bg-color : #dfdcdc;
  
  --header-pdf-bg-color: #ffffffe1;
  --experience-pdf-bg-color : #dfdcdc;
  --skill-pdf-bg-color: #d9e5e5ee;
  --skill-pdf-color: #2e2f2f;


  --icon-color:var(--text-color);
  --circle-color: #AAA;
  --circle-color-plain: #555;  
  --dark-icon-color:var(--dark-text-color);
  --dark-circle-color: rgb(108, 108, 108);
  --dark-circle-color-plain: rgb(238, 238, 238);


  /* Fonts */
  --body-font: "Poppins", "Sans-serif";
  --h1-font-size: 1.7rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.4rem;
  --h4-font-size: 1rem;

  /* Helpers */
  --spacing-1: .4rem;
  --spacing-2: .8rem;
  --spacing-3: 1.2rem;
  --spacing-4: 1.5rem;
  --spacing-5: 2rem;
}

/* button {
  background: none;
  border:none;
  outline: none;
  cursor: pointer;
} */

.pdf-icon {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  left :50%;
  transform: translate(-50%,-40px);
  border-radius : 5px;
  padding: 4px 8px;
  cursor:pointer;
  font-weight: 300;
  animation : 0.6s ease-out 0.3s  pdf-icon;

}


@keyframes pdf-icon {
  from {
    transform: translate(-50%,-100px);
  }
  to{
    transform: translate(-50%,-40px);
  }
}

.pdf-icon:hover{
  background-color: #fff;
  font-weight: 600;
}


body {

  max-width: 1050px;
  margin: 0 auto;
  background: var(--body-bg-color);
}

.app {
  margin: 50px 0px;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

.dark a {
  color: var(--dark-text-color);
}


h1, h2, h3 {
  margin-bottom: var(--spacing-1);
  font-weight: 400;    
  color: var(--title-color);
}


h1 {
  font-size:var(--h1-font-size);
  text-transform: uppercase;
  font-weight: bold;
}

h2 {
  display: flex;
  align-items: center;  

  font-size: var(--h2-font-size);
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 500;
  
}

h3 {
  font-size: var(--h3-font-size);
  text-transform: uppercase;
  font-weight: bold;
  width: fit-content;
  border-bottom: 2px solid black;
}

h4 {
  font-size: var(--h4-font-size);
}

/* grand ecran*/
@media screen and (min-width:768px) {
  .skills-experiences-container {
    display: grid;
    grid-template-columns: 1fr  3fr;
  }
  .experiences {
    padding: 25px 15px;
  }
  .app {
    margin: 50px 24px;
  }
  
}

/* petit ecran*/
@media screen and (max-width:768px) {
  .profil-detail  p {
    padding :0 20px  8px 20px;
  }
}



/* mise en page PDF */

#cv-pdf.cv-pdf {
  width: 210mm;
  height : 295mm;
  
}

.cv-pdf{
  color: #000000;
}
.cv-pdf ul {
  margin:0;
  padding:0;
 
}

.cv-pdf {
  font-size:12px;
}

.cv-pdf  .skills-experiences-container {
  display: grid;
  grid-template-columns: 1fr  3fr;
}


